<a href="https://colab.research.google.com/github/beagalati/Progetto_data_analysis/blob/main/prima_fase_bea.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
matrix = []
import csv

nome= input("Inserisci il nome del file: ")
nome_tot=nome+".csv"

with open(nome_tot) as csv_file:
#leggi il contenuto, prendendo i valori uno ad uno delimitati dalla virgola
  csv_reader = csv.reader(csv_file, delimiter=',')
#per ogni riga, per ogni campo(colonna), stampa il valore
  i=0
  for riga in csv_reader:
    i=i+1
    if i>1:
      lista = []
      for campo in riga:
        lista.append(campo)
      matrix.append(lista)
      print(lista)
      print("\t")

#trova il massimo di ogni colonna utile (scarta  la prima colonna, non Ã¨ utile)
for colonna in range (len(matrix[0])-1):
  colonna=colonna+1
  print("Massimo della colonna ",colonna,": ")
  maximum = matrix[0][colonna]
  for i in range (len(matrix)):
    if matrix[i][colonna]>maximum:
      maximum = matrix[i][colonna]
  print(maximum)   
print("\t")
#minimo
for colonna in range (len(matrix[0])-1):
  colonna=colonna+1
  print("Minimo della colonna ",colonna,": ")
  minimum = matrix[0][colonna]
  for i in range (len(matrix)):
    if matrix[i][colonna]<minimum:
      minimum = matrix[i][colonna]
  print(minimum)

Inserisci il nome del file: RACE.MI2022
['2022-01-01', '227.899994', '238.699997', '196.550003', '202.899994', '200.116516', '7136643']

['2022-02-01', '205.800003', '211.899994', '182.199997', '192.750000', '190.105759', '8569654']

['2022-03-01', '192.600006', '202.899994', '164.949997', '198.699997', '195.974136', '11535773']

['2022-04-01', '198.699997', '212.899994', '190.800003', '203.000000', '200.215149', '6541741']

['2022-05-01', '200.699997', '205.899994', '170.850006', '181.399994', '180.097595', '7719991']

['2022-06-01', '182.250000', '183.550003', '161.399994', '175.199997', '173.942123', '7911240']

['2022-07-01', '173.750000', '207.199997', '173.350006', '206.199997', '204.719543', '6433187']

['2022-08-01', '206.500000', '215.800003', '192.000000', '193.199997', '191.812881', '5480529']

['2022-09-01', '192.100006', '202.300003', '188.149994', '191.699997', '190.323654', '7570345']

['2022-10-01', '190.000000', '200.100006', '183.000000', '199.500000', '198.067657', '6016978']

['2022-11-01', '200.300003', '213.300003', '192.199997', '211.899994', '210.378616', '6334707']

['2022-12-01', '213.500000', '217.100006', '197.550003', '200.199997', '198.762619', '5537632']

Massimo della colonna  1 :
227.899994
Massimo della colonna  2 :
238.699997
Massimo della colonna  3 :
197.550003
Massimo della colonna  4 :
211.899994
Massimo della colonna  5 :
210.378616
Massimo della colonna  6 :
8569654

Minimo della colonna  1 :
173.750000
Minimo della colonna  2 :
183.550003
Minimo della colonna  3 :
161.399994
Minimo della colonna  4 :
175.199997
Minimo della colonna  5 :
173.942123
Minimo della colonna  6 :
11535773